.main-content-wrapper {
  display: inline-block;
  margin-top: 30px;
  border: 1px solid #cccccc;
  background-color: #f1f1ffcb;
  padding: 30px;
}

.homepage-header {
  text-align: center;
  font-size: 32px;
  color: #555555;
  margin-bottom: 30px;
}
